-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Julius+Sans+One%7COpen+Sans+Condensed:300,700%7COpen+Sans:400,700,600,300",
		menu = [],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
